# ==========================================
# Build
# ==========================================
target/
*.class
*.jar

# ==========================================
# STS / Eclipse
# ==========================================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ==========================================
# Security - مهم جداً
# ==========================================
firebase-service-account.json
application-local.properties
application-prod.properties
*.pem
*.key

# ==========================================
# Logs
# ==========================================
*.log
logs/

# ==========================================
# OS
# ==========================================
.DS_Store
Thumbs.db
